<div class="container">
  <div class="row">
    <div><br>
    <h3>家計簿の編集</h3><br>
      <div>
        <%= form_with model: @month, url: month_path, method: :patch, local: true do |f| %>
          <div>
            <%= f.label :month, "家計簿", class: "control-label" %>
            <%= f.date_select :month, {use_month_numbers: true, start_year: 2021, date_separator: '年', discard_day: true}, {class: "form-control"} %>月
          </div>
          <div>
            <%= f.label :balance_last, "月末口座残高", class: "control-label" %><br>
            <%= f.text_field :balance_last, class:"category_name" %>
            <%= f.submit '残高を更新', class:"btn btn-primary" %>
          </div>
          <div>
            <%= link_to "キャンセル", months_path, class: "btn btn-secondary btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>