<div class="container">
  <div class="row">

    <!-- ここにグラフを挿入  -->

    <div>
    <h3>家計簿一覧</h3><br>
      <div>
        <table class="table">
          <% @months.each do |month| %>
            <thead>
              <tr>
                <th>
                  <%= link_to "#{month.month.strftime("%Y年 %m月")}", month_details_path(month.id), style:"color: black;" %>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>月末残高</td>
                <td><%= month.balance_last %></td>
                <td><%= link_to "編集", edit_month_path(month.id), class: "btn btn-secondary" %></td>
                <td><%= link_to "削除", month_path(month.id), method: :delete, class: "btn btn-danger" %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <!-- ボタンを作成  -->
  <div>
    <%= link_to "新規作成", new_month_path, class: "btn btn-primary" %>
  </div>
</div>