<div class="container">
  <div class="row">
    <div>
    <h3>家計簿一覧</h3><br>
    <!-- ここにグラフを挿入  -->
      <% if @month_chart_max > 10000 %>
        <%= area_chart @month_chart.map { |month, balance_last| [month.strftime('%-m月'), balance_last / 10000] }, suffix: "万円" %>
      <% else %>
        <%= area_chart @month_chart.map { |month, balance_last| [month.strftime('%-m月'), balance_last] }, suffix: "円" %>
      <% end %>
    <!-- ここまで -->
      <div>
        <p>家計簿一覧</p>
        <table class="table">
          <% @months.each do |month| %>
            <thead>
              <tr>
                <th>
                  <%= link_to "#{month.month.strftime("%Y年 %-m月")}", month_details_path(month.id), style:"color: black;" %>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>月末残高</td>
                <td><%= month.balance_last.floor.to_s(:delimited, delimiter: ',') %>円</td>
                <td><%= link_to "編集", edit_month_path(month.id), class: "btn btn-secondary" %></td>
                <td><%= link_to "削除", month_path(month.id), method: :delete, class: "btn btn-danger" %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <%= render 'details/footer' %>
  <% end %>

  <!-- ボタンを作成  -->
  <div>
    <%= link_to "新規作成", new_month_path, class: "btn btn-primary" %>
  </div>
</div>