<div class="container">
  <div class="row">
    <div>
    <h3>家計簿の追加</h3><br>
      <div>
        <%= form_with model: @month, url: months_path, local: true do |f| %>
          <div>
            <%= f.label :date, "家計簿", class: "control-label" %>
            <%= f.date_field :date, class: "form-control" %>
          </div>
          <div>
            <%= f.label :balance, "口座残高", class: "control-label" %><br>
            <%= f.text_field :balance, class:"category_name" %>
            <%= f.submit '登録', class:"btn btn-primary" %>
          </div>
          <div>
            <%= link_to "キャンセル", months_path, class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>