<div class="container">
  <div class="row">
    <div><br>
    <h3>家計簿の追加</h3><br>
      <div>
        <%= form_with model: @month, url: months_path, local: true do |f| %>
          <table class="table">
            <tr>
              <th><%= f.label :month, "家計簿", class: "control-label" %></th>
              <td><%= f.date_select :month, {use_month_numbers: true, start_year: 2021, date_separator: '年', discard_day: true}, {class: "form-control"} %>月</td>
            </tr>
            <tr>
              <th>前月口座残高</th>
              <td></td>
            </tr>
            <tr>
              <th><%= f.label :balance, "口座残高", class: "control-label" %><br></th>
              <td><%= f.text_field :balance, class:"form-control" %></td>
            </tr>
          </table>
          <%= f.submit '登録', class:"btn btn-primary" %>
          <div>
            <%= link_to "キャンセル", months_path, class: "btn btn-secondary btn-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>