<div class="container">
  <div class="row">
    <div><br>
    <h3>ログイン</h3>
    <%= form_with model: @user, url: user_session_path do |f| %>

      <table class="table">
        <tr class="field">
          <td><%= f.label :email, "メールアドレス" %></td><br />
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>

        <tr class="field">
          <td><%= f.label :password, "パスワード" %></td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
      </table>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "ログインを保存しますか？" %>
        <% end %>
      <div class="actions">
        <%= f.submit "ログイン", class:"btn btn-primary btn-sm" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
