<div class="container">
  <div class="row">
    <div>
      <h3>入出金明細</h3><br>
      <div>
        <%= link_to "CSVを出力", month_details_path(@month.id, format: :csv), class: "btn btn-primary btn-sm" %>
        <%= link_to "家計簿一覧に戻る", months_path, class: "btn btn-secondary btn-sm" %>
      </div><br>
    <!--ここに収支情報-->
      <h5>今月の収支</h5>
      <div>
        <table class="table">
          <tbody>
            <tr>
              <td>収入</td>
              <td><%= "+#{@income_total_true_before_today.to_s(:delimited)}円" %></td>
            </tr>
            <tr>
              <td>支出</td>
              <td><%= "-#{@spending_total_true_before_today.to_s(:delimited)}円" %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <table class="table">
          <% @details.each do |detail| %>
            <tbody>
              <tr>
                <td><%= detail.date.strftime("%-m月%-d日") %></td>
                <td>
                  <%= attachment_image_tag detail.category, :image, size: "30x30", format: 'jpeg', fallback: "no_image.jpeg" %>
                </td>
                <td>
                  <%= detail.category.name %>
                </td>
                </td>
                  <% if detail.income.present? %>
                    <td>+<%= detail.income.floor.to_s(:delimited, delimiter: ',') %>円</td>
                  <% else %>
                    <td>-<%= detail.spending.floor.to_s(:delimited, delimiter: ',') %>円</td>
                  <% end %>
                <td><%= detail.note %></td>
                <td><%= detail.player_i18n %></td>
                <td><%= link_to "編集", edit_detail_path(detail.id), class: "btn btn-secondary btn-sm" %></td>
                <td><%= link_to "削除", detail_path(detail.id), method: :delete, class: "btn btn-danger btn-sm" %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
        <%= paginate @details %>
        <!-- +ボタンを作成  -->
        <% if user_signed_in? %>
          <%= render 'details/footer' %>
        <% end %>
      </div>
    </div>
  </div>
</div>