<!DOCTYPE html>
<html>
  <head>
    <title>Cokakekan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-dark", style="background-color: #99CC33">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag 'wallet.png', size: "40x40" %><strong> cokakekan</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item", style="margin-right: 10px;">
                  <%= link_to "メインページ", main_page_path %>
                </li>
                <% if @authenticated_this_month.present? %>
                  <li class="nav-item", style="margin-right: 10px;">
                    <%= link_to "家計簿", months_path %>
                  </li>
                  <li class="nav-item", style="margin-right: 10px;">
                    <%= link_to "当月明細", month_details_path(@authenticated_this_month) %>
                  </li>
                  <li class="nav-item", style="margin-right: 10px;">
                    <%= link_to "予算", month_budgets_path(@authenticated_this_month) %>
                  </li>
                <% else %>

                <% end %>
                <li class="nav-item", style="margin-right: 10px;">
                  <%= link_to "マイページ", user_my_page_path(current_user.id) %>
                </li>
                <li class="nav-item", style="margin-right: 10px;">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <%= render 'shared/before_login_header' %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
